<!DOCTYPE html>
<html>
<head>
  <title>Quoter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="w3-container w3-pale-red">
   <ul>
     <a href="/static_pages/home" class="w3-btn w3-blue-gray">Home Here</a>
     <a href="/" class="w3-btn w3-blue-gray">Mighty Quotes</a>
     <a href="/static_pages/help" class="w3-btn w3-blue-gray">Help Here</a>
     <a href="/static_pages/about" class="w3-btn w3-blue-gray">About Here</a>
     
  </ul>
  <%= yield %>

</body>
</html>
